h1 {
  color: #6c2eb9;
  font-weight: normal;
  font-size: 40px;
  text-transform: uppercase;
  width: 1000px;
  margin: 1 auto;
}
#main-container{
  padding-top: 200px;
  text-align: center;

}
@font-face {
  font-family: 'miFuente';
  scr: url(../fuentes/ALBAS___.TTF)
}
#fuenteptit{
  font-family: 'miFuente';
}
#fuente-google{
  font-family: 'Monoton', cursive;
  color: white;
  font-weight: normal;
  font-size: 70px;
  text-transform: uppercase;
  width: 1400px;
  margin: 1 auto;

}
.btn{
  border-radius: 3px;
  padding: 20px 15px;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

}
.btn-green{
  color: white;
  background-color: #D629E7;
  margin-left: 105px;
  margin-top: 5px;
}
.btn-green2{
  color: white;
  background-color: #D629E7;
  margin-left: 205px;
  margin-top: 10px;
  font-size: 30px;
  font-family: 'Secular One', sans-serif;
}




* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Pixel Emulator";
    background-color: black;
    color: white;
    min-width: 750px;
}

#header, #container {
    min-width: 100%;
    text-align: center;
}

#header {
    font-size: 24pt;
    font-weight: bold;
    padding: 15px;
    color: #00ff4e;
    text-shadow: 2px 2px #4f00ff;
    border-bottom: 8px solid #00ff4e;
    box-shadow: 0px 4px #4f00ff;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    grid-template-columns: repeat(1, 1fr);
}

.logo{
    width:100%;
    text-align: left;
    line-height: 1;
}

#container {
    padding: 50px 150px;
}


.keys {
    background: url(../img/keys.png);
    height: 204px;
    width: 306px;
    margin: 30px auto;
    font-size: 31pt;
    color: #00ff5b;
    text-shadow: 2px 2px #b21aba;
    cursor:crosshair

}
.keys div{position:absolute;cursor:pointer;}
#w {
    margin-left: 105px;
    margin-top: 5px;
}

#s {
    margin-top: 106px;
    margin-left: 124px;
}

#a {
    margin-top: 106px;
    margin-left: 22px;
}

#d {
    margin-top: 106px;
    margin-left: 227px;
}
.swal2-input{
    color:black!important;
}
.user {
    color: black;
    padding: 10px;
    display: table;
    width: 100%;
    background-color: white;
}

.title {
    padding: 10px;
    color: white;
    background: #b21aba;
    border-bottom: 4px solid #4f00ff;
    text-shadow: 1px 1px #EF44FF;
    font-size: 16pt;
}

.user-info {
    float: left;
}

.user-score {
    float: right;
}

#user-profile {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 15px;
    margin: 0;
    padding: 0;
}
.user-desc a {
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.user-desc {
    font-size: 18px;
    text-align: left;
    line-height: 1;
}
.user-photo {
    display: flex;
}
.user-photo img {
    width: 41px;
    height: 41px;
    border-radius: 100%;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 0px 2px #ff00e0;
}
.right-links {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    grid-gap: 14px;
}

button.btn-default {
    border: 0;
    padding: 14px;
    font-family: 'Pixel Emulator';
    border-radius: 5px;
    background: #6577ff;
    background: -moz-linear-gradient(top, #6577ff 0%, #9666ff 100%);
    background: -webkit-linear-gradient(top, #6577ff 0%,#9666ff 100%);
    background: linear-gradient(to bottom, #6577ff 0%,#9666ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6577ff', endColorstr='#9666ff',GradientType=0 );
    box-shadow: 2px 2px 0px #00ff4e;
    color: white;
    text-shadow: 1px 1px black;
    cursor: pointer;
    outline: none;
}

button:hover, a:hover {
    opacity: .90;
}

button:active, a:active {
    opacity: .98;
}
/*button.btn-default {
    border: 0;
    padding: 14px;
    border-radius: 5px;
    background: #6577ff;
    background: -moz-linear-gradient(top, #6577ff 0%, #9666ff 100%);
    background: -webkit-linear-gradient(top, #6577ff 0%,#9666ff 100%);
    background: linear-gradient(to bottom, #6577ff 0%,#9666ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6577ff', endColorstr='#9666ff',GradientType=0 );
    box-shadow: 2px 2px 0px #00ff4e;
    color: white;
    text-shadow: 1px 1px black;
    cursor: pointer;
    outline: none;
}
